<% layout("layouts/boilerplate") %>

  <!-- Cluster map -->
  <div id="cluster-map"></div>

  <!-- Campgrounds list -->
  <h1>All Campgrounds</h1>
  <% for (let campground of campgrounds) { %>
    <div class="card mb-3">
      <div class="row">
        <div class="col-md-4">

          <!-- Images, if there are images in the campground. -->
          <% if (campground.images.length) { %>
            <img class="img-fluid" src="<%= campground.images[0].url %>" alt="">
          <% } else {%>
            <img class="img-fluid" src="https://res.cloudinary.com/drzyxwo23/image/upload/v1682762164/samples/animals/reindeer.jpg" alt="">
          <% } %>
        </div>

        <div class="col-md-8">
          <div class="card-body">

            <!-- Title. -->
            <h5 class="card-title"><%= campground.title %></h5>

            <!-- Description. -->
            <p class="card-text"><%= campground.description %></p>

            <!-- Location. -->
            <p class="card-text">
              <small class="text-secondary"><%= campground.location %></small>
            </p>

            <!-- Author. -->
            <p class="text-end">
              <small class="text-secondary ">Submitted by: <%= campground.author.username %></small>
            </p>

            <!-- Button to view the CG. -->
            <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View <%= campground.title %></a>
          </div>
        </div>
      </div>
    </div>
  <% } %>


  <script>
    // Ejs puts value int ejs tags, and browser then read it from the script tag.
    // 'Less than percent dash' tag outputs the UNescaped value.
    // Pass variables to clusterMap.js
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>';  // '' quotes are used because we need token as STRING.
    // Conform to the clustermap addSource data structure.
    const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
  </script>
  <script src="/javascripts/clusterMap.js"></script>